attrs==21.2.0
Automat==20.2.0
bitstring==3.1.9
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
constantly==15.1.0
cryptography==35.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
mcrcon==0.7.0
mutf8==1.0.5
NBT==1.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==21.0.0
quarry==1.7.0
requests==2.26.0
service-identity==21.1.0
six==1.16.0
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.26.7
zope.interface==5.4.0
